/* Drop down menu */

@media all and (min-width: 360px) {
    .navbar .nav-item .dropdown-menu {
        display: none;
    }

    .navbar .nav-item:hover .nav-link {}

    .navbar .nav-item:hover .dropdown-menu {
        display: block;
    }

    .navbar .nav-item .dropdown-menu {
        margin-top: 0;
    }
}

/*zoom*/
.zoom {
  transition: transform .2s; /* Animation */
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}


/* scroll indicator */
.scroll-progress-bar {
    /*margin-bottom: 103px;*/
    width: 0%;
    height: 4px;
    background-color: #155dab;
    position: fixed;
    left: 0px;
    top:0%;
}

.scroll-progress-bar-gac{
    margin-bottom: 50px;
    width: 0%;
    height: 4px;
    background-color: #155dab;
    position: fixed;
    left: 0px;
}

/* scroll bar */
/* width */
::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #155dab;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #155dab;
}

hr.divider {
  max-width: 3.25rem;
  border-width: 0.2rem;
  border-color: #155dab;
}